.progress-container {
	width: 100%;
	height: 4px;
	background: #aaa;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	box-shadow: 0px 2px 12px black;
}

.progress-bar {
	height: 4px;
	background: #facc2e;
	width: 0%;
}

#placeholder {
	height: 10000px;
	background-color: green;
	position: relative;
	top: 20px;
	width: 200px;
	color: white;
	margin: auto;
	padding: 20px;
	font-family: sans-serif;
}